.wrapper {
  /* border: 2px solid rgb(15, 54, 226); */
}

header {
  /* border: 2px solid rgb(226, 127, 15); */
}

body {
  /* border: 2px solid rgb(255, 47, 255); */
  background-color: #3b404e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
