h2 {
  border: 2px solid rgb(15, 54, 226);
}


.container {
  border: 2px solid yellow;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 50px);
  grid-gap: 1rem;
}

