@import "../../config";

.menu {
  display: flex;
  flex-direction: row;
  background-color: $dark-grey;
  color: $white;
  box-sizing: border-box;
  border-bottom: 4px solid $black;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

h1 {
  margin-top: 15px;
  margin-left: 30px;
  font-family: 'New Rocker', cursive;
  font-size: 40px;
}

.dropDown {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 30px;
}

//mobile
@include mediaSm {
  h1 {
    font-size: 30px;
  }

}

@include mediaMd {
}

@include mediaLg {
}

@include mediaXl {
}