@import "../../config";

.menu {
  display: flex;
  flex-direction: row;
  // border: 0.5px solid rgb(226, 127, 15);
  background-color: $dark-grey;
  color: $white;
  box-sizing: border-box;
  border-bottom: 4px solid $black;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.dropDown {
  font-size: 30px;
}