@import "../../config";

.menu {
  display: flex;
  flex-direction: row;
  background-color: $dark-grey;
  color: $light-grey;
  box-sizing: border-box;
  border-bottom: 4px solid $black;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

h1 {
  margin-top: 15px;
  margin-left: 30px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
}

.dropDown {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 30px;
}