@import "../../config";


.article {
  border: 4px dashed $light-grey;
  width: 90%;
}

.share {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


//mobile
@include mediaSm {
}

@include mediaMd {
}

@include mediaLg {
}

@include mediaXl {
}