@import "../../config";


.article {
  border: 4px dashed $dark-grey;
  width: 95%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  margin-top: 90px;
}

.navArticle {
  border-bottom: 4px solid $dark-grey;
  background-color:$white;
  width: 100%;
  margin-top: 80px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.play, .backButton {
  border: 2px solid $white;
  font-size: 32px;
  color: $dark-grey;
  background-color: $white;
  width: 10%;
  cursor: pointer;
}

.iconShare {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.viewOriginal {
  font-size: 15px;
  color: $dark-grey;
  background-color: $white;
  width: 20%;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 50px;
  color: $white;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.summary {
  text-align: center;
  color: $white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.articleDate {
  background-color: $light-grey;
  border: 2px solid $light-grey;
  border-radius: 4px;
  color: $black;
  text-align: center;
  font-size: 20px;
}

.content {
  text-align: justify;
  color: $white;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 2.5;
}

//mobile
@include mediaSm {
  .article {
    border: 2px dashed $white;
  }
  .title {
    font-size: 25px;
  }
  .play, .backButton {
    width: 15%;
  }
  .iconShare {
    width: 50%;
  }
  .viewOriginal {
    font-size: 10px;
    width: 30%;
  }
  .articleDate {
    font-size: 14px;
  }

}

@include mediaMd {
  .article {
    border: 3px dashed $white;
  }
  .title  {
    font-size: 30px;
  }
  .play, .backButton {
    width: 15%;
  }
  .iconShare {
    width: 50%;
  }
  .viewOriginal {
    width: 30%;
  }
  .articleDate {
    font-size: 16px;
  }

}

@include mediaLg {
}

@include mediaXl {
}