@import "../../config";


.article {
  border: 4px dashed $light-grey;
  width: 90%;
  text-align: justify;
}


.title {
  text-align: center;
  font-size: 35px;
}

//mobile
@include mediaSm {
  h3 {
    font-size: 25px;
  }
}

@include mediaMd {
  h3 {
    font-size: 30px;
  }
}

@include mediaLg {
}

@include mediaXl {
}