@import url("https://fonts.googleapis.com/css?family=Varela+Round");

$black: #000000;
$white: #ffffff;
$dark-grey: #333333;
$med-grey: #cccccc;
$red: #b11111;

//Media Query Mixins
@mixin mediaXSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaSm {
  @media screen and (max-width: 750px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (min-width: 751px)  and (max-width: 900px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 901px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}